<div class="col-12 content">

    <div class="container">
        <div class="img-container">
            <img src="./webroot/img/background_01_bg.png">
        </div>
        <div class="text-container">
            <span>Todos seus amigos podem ser null, null pointer exception ou undefinied... Só no NullBank!</span>
        </div>
    </div>

    <div class="container">
        <div class="text-container">
            <span>Todas suas contas linkadas no melhor estilo lista encadeada... E você nem precisa programar em C para isso.</span>
        </div>
        <div class="img-container">
            <img src="./webroot/img/background.png" class="rounded-circle">
        </div>
    </div>

</div>